<div class="end-screen__title">{{message}}</div>
<button class="end-screen__button" {{action "restartGame"}}>Restart Game</button>
{{#link-to 'welcome'}}<button class="end-screen__button">Return to main menu</button>{{/link-to}}
