<div class="game-menu__header">Welcome to<br/>The Hangman Game</div>
<div class="game-menu__item">Select game difficulty:</div>
{{link-to 'easy' 'play' (query-params difficulty='easy') class="game-menu__link"}}
{{link-to 'medium' 'play' (query-params difficulty='medium') class="game-menu__link"}}
{{link-to 'hard' 'play' (query-params difficulty='hard') class="game-menu__link"}}
