.play {
    &__header {
        color: #0d83ea;
        font-size: 60px;
        font-weight: bold;
        line-height: 1em;
        margin-right: 50px;
        text-align: right;
        text-transform: uppercase;
    }

    &__level {
        color: #ffbc00;
        font-size: 30px;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: 50px;
        margin-right: 50px;
        text-align: right;
        text-transform: uppercase;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 750px;
        justify-content: space-between;
    }
    
    &__top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        width: 1200px;
    }
}