@import 'settings';
@import 'components/index';
@import 'play';
@import 'welcome';

.application-header {
    text-align: right;
}

.application-wrapper {
    background-color: white;
    background-image: url('background.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    height: 750px;
    width: 1200px;
}

.display-none {
    display: none;
}
