@import 'settings';
@import 'components/index';
@import 'play';

.application-header {
    text-align: right;
}

.application-wrapper {
    background-color: white;
    border-radius: 10px;
    height: 750px;
    width: 1200px;
}

.display-none {
    display: none;
}
