@import 'settings';
@import 'components/index';

.application-header {
    text-align: right;
}

.application-wrapper {
    background-color: red;
}

.display-none {
    display: none;
}
