.folk-body {
    display: flex;
    flex-direction: column;

    &__svg {
        height: 465px;
        margin-left: 50px;
        width: auto;
    }

    &__bar {
        height: auto;
        width: 185px;
    }
}
