.hidden-word {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px; 

    &__letter {
        background-color: #464646;
        border-radius: 10px;
        color: #f3f3f3; 
        display: inline-block;
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 1em;
        margin: 0;
        padding: 20px;
        text-align: center;
        width: 50px;
    }

    &__slot-disabled {
        background-color: #e8e8e8;
    }
}
