.application-wrapper {
    background: white url('background.svg') no-repeat right bottom;
    background-size: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px black;
    height: 750px;
    margin-top: 50px;
    width: 1200px;
}
