.play {
    &__header {
        color: #0d83ea;
        font-size: 60px;
        font-weight: bold;
        line-height: 1em;
        text-align: right;
        text-transform: uppercase;
    }

    &__level {
        color: #ffbc00;
        font-size: 30px;
        font-weight: bold;
        line-height: 1em;
        text-align: right;
        text-transform: uppercase;
    }

    &__navigation {
        margin-bottom: 50px;
        text-align: right;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 750px;
        justify-content: space-between;
    }
    
    &__top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        width: 1200px;
    }

    &__right-container {
        margin-right: 50px;
    }

    &__button {
        background: 0;
        border: 2px solid #464646;
        color: #464646;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        line-height: 1em;
        margin: 10px 0;
        padding: 10px 15px;
        text-transform: uppercase;
    }

    &__button:hover,
    &__button:active {
        border-color: #ffbc00;
        color: #ffbc00;
    }
}