<div class="play__wrapper">
    <div class="play__top-container">
        {{folk-body numberOfElementsToShow=numberOfWrongKeyPressed}}
        {{allWrongKeyPressed}}
    </div>
    {{hidden-word word=model uncoveredLetters=allGoodKeyPressed}}
</div>
